apiVersion: apps/v1
kind: Deployment
metadata:
  name: gdal-api
  labels:
    app: gdal-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gdal-api
  template:
    metadata:
      labels:
        app: gdal-api
    spec:
      containers:
      - name: gdal-api
        image: ghcr.io/mathewnwsh/argo-geo-workshop/gdal-api:a9199a5fa55c002a5042a3d62d7d28523b9f05c7
        ports:
        - containerPort: 8000
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
